#google{
    color: black;
    font-weight: 20px;
    font-size: 20px;
    padding-left: 1060px;
    text-decoration: none;    ;
}
#Advanced{
    color: black;
    font-weight: 15px;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
}
#glogo{
    display: flex;
    width: 300px;
    padding-left: 14cm;
    padding-top: 2.5cm;
}
#searchbox{
    margin-left: 11.4cm;
    margin-top: 0.2cm;
    border-radius: 25px;
    height: 1cm;
    width: 11cm;
    font-weight: 15px;
    font-size: 18px;
    padding-left: 35px;
    padding-right: 40px;
}
#searchbutton{
    margin-left: 13cm;
    margin-top: 0.7cm;
    font-size: 17px;
    background-color: whitesmoke;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border-color: whitesmoke;
}
#iamluckybutton{
    margin-left: 1.6cm;
    margin-top: 0.7cm;
    font-size: 17px;
    background-color: whitesmoke;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border-color: whitesmoke;
}